* {
	margin: 0;
	padding: 0;
}

body{margin-top: 50px;}

.item img,p,h2{transition: all 1s;}

.item{background-color: black;}

.carousel-caption h2{
    text-shadow: 2px 2px 5px black;
    opacity: 0;
}

.carousel-caption p{
    font-size: 20px;
    text-shadow: 2px 2px 3px black;
    opacity: 0;
}

.move1:hover img{opacity: 0.7;}
.move1:hover  h2{opacity: 1;}
.move1:hover   p{opacity: 1;}
.move2:hover img{opacity: 0.7;}
.move2:hover  h2{opacity: 1;}
.move2:hover   p{opacity: 1;}
.move3:hover img{opacity: 0.7;}
.move3:hover  h2{opacity: 1;}
.move3:hover   p{opacity: 1;}
.move4:hover img{opacity: 0.7;}
.move4:hover  h2{opacity: 1;}
.move4:hover   p{opacity: 1;}
.move5:hover img{opacity: 0.7;}
.move5:hover  h2{opacity: 1;}
.move5:hover   p{opacity: 1;}

.line{
	margin: 50px 15px;
	height: 2px;
	text-align: center;
	border-bottom: 1px solid #D8D8D8;

}

.line span{
	position: relative;
	padding: 0 30px;
	top: -16px;
	font-size: 25px;
	color: gray;
	background-color: white;
}

.icons{
	width: 90%;
	margin: 20px auto;
	font-size: 0;
	text-align:  center;
	/* background-color: yellowgreen; */
}
.icon{
	display: inline-block;
	width: 10%;
	padding: 8px;
	overflow: hidden;
	perspective:800px;

}

.icon img{
	width: 100%;
	border-radius: 10px;
	box-shadow: 2px 2px 2px gray, 0 0 3px gray;
	transition: all 1s;
}

.icon1:hover {
	transform: rotate(360deg) scale(0.5);}
.icon2:hover {transform: rotateX(180deg);}
.icon3:hover {transform: rotateY(180deg);}
.icon4:hover {transform:  rotateX(120deg) rotateZ(180deg);}
.icon5:hover {transform:  rotateX(180deg) rotateY(180deg);}
.icon6:hover {border-radius: 50%;}
.icon7:hover {border-top-left-radius: 50%;border-bottom-right-radius: 50%;}
.icon8:hover {border-top-right-radius: 50%;border-bottom-left-radius: 50%;}
.icon9:hover {transform: rotateX(360deg);width: 50%;}
.icon10{animation-name:change1;
	animation-duration:3s;
	animation-iteration-count: infinite;
	animation-play-state: paused;}
.icon10:hover{animation-play-state: running;}
@keyframes change1{
	30%{border-top-left-radius: 50%;border-bottom-right-radius: 50%;}
	70%{border-top-right-radius: 50%;border-bottom-left-radius: 50%;}
	100%{border-radius: 10px;}
}
.icon11{animation-name:change2;
	animation-duration:2s;
	animation-iteration-count: infinite;
	animation-play-state: paused;}
.icon11:hover{animation-play-state: running;}
@keyframes change2{
	25%{border: 2px solid deeppink;}
	50%{border: 2px solid orange;}
	75%{border: 2px solid yellowgreen;}
	100%{border: none;}
}
.icon12{animation-name:change3;
	animation-duration:1s;
	animation-iteration-count: infinite;
	animation-play-state: paused;}
.icon12:hover{animation-play-state: running;}
@keyframes change3{
	50%{border-radius: 50%;}
	100%{border-radius: 10px;}
}
.icon13:hover {border-top-right-radius: 50%;border-top-left-radius: 50%;}
.icon14:hover {border-bottom-right-radius: 50%;border-bottom-left-radius: 50%;}
.icon15:hover {width:80%;transform: skew(10deg,10deg)}
.icon16{animation-name:change4;
	animation-duration:1s;
	animation-iteration-count: infinite;
	animation-play-state: paused;}
.icon16:hover{animation-play-state: running;}
@keyframes change4{
	50%{opacity: 0;}
	80%{opacity: 1;}
	100%{opacity: 1;}
}
.icon17:hover {transition:border-radius 0.5s ease 1s;
border-radius: 40%;}



#imgs{
	position: relative;
	margin: 0 auto;
	width: 100%;
    border: 8px solid white;
}

.box{
	float: left;
	width: 20%;
	padding: 15px;
}

.smbox{
	padding: 10px;
	box-shadow: 0px 0px 5px gray;
    border-radius: 5px;
}

.smbox img{
	width: 100%;
}

@media (max-width: 970px) {

.icon{
	width: 12%;
}

.box{
	width: 25%;
	padding: 10px;
}

.smbox{
	padding: 8px;
}

}

@media (max-width: 500px) {

.icon{
	width: 18%;
	padding: 5px;
}

.line{
	margin: 30px 10px;
}

.line span{
	padding: 0 10px;
	top: -12px;
	font-size: 15px;
}

.box{
	width: 50%;
	padding: 6px;
}

.smbox{
	padding: 8px;
}

}